.Block
  display: block
  position: relative
  padding: rem(30) 0

  &__primary
    background: $color-secondary
    color: white

  &__secondary
    background-color: $color-neutral-a

  .homeblock
    & a
      text-decoration: underline
    & h3
      text-align: center

  &.underHeader
    background: $color-quaternary
    padding: 1.5rem 0
    & a
      color: white
      font-size: 1.5em
