.button
  raw-button()
  display inline-flex
  align-items: center
  justify-content: center
  padding: em(15) em(40)
  font-weight: bold
  text-decoration none
  text-align center
  transition: all .21s ease
  +media-tablet('down')
    &:active
      opacity: 1
  &:hover
    text-decoration none
  svg
    --color-icon: inherit
    margin-right: em(12)

  &.is-rounded
    border-radius: em(4)
  &.is-lspaced
    letter-spacing: 1px
  &.is-bare
    padding: 0

  $lighten-percent = 21%

  &.is-primary
    color: white
    background-color: $color-primary
    font-weight 600
    +media-tablet('larger')
      background-color: lighten($color-primary, $lighten-percent)
    &:active
      color: white
      background-color: lighten($color-primary, $lighten-percent)
  
  &.is-secondary
    background-color: $color-secondary
    color: white
    font-weight 600
    svg
      --color-icon: white
    +media-tablet('larger')
      &:hover
        background-color: lighten($color-secondary, $lighten-percent)
    &:active
      color: white
      background-color: lighten($color-secondary, $lighten-percent)
    
    &[disabled]
      background-color: $color-secondary

  
  &.is-alt-secondary
    border: em(1, 22) solid $color-secondary
    color: $color-secondary
    font-weight bold
    &:active
      color: white
      background-color: $color-secondary
    +media-tablet('larger')
      &:hover
        color: white
        background-color: $color-secondary

  &.is-terciary
    background-color: #000000
    color: white
    &:active
      color: white

  &.is-block
    padding: em(10) em(44)

  
  &.is-medium
    font-size: em(18)
    padding-left: em(16)
    padding-right: em(16)

  &.is-icon
    padding: 0
    svg
      margin 0

  &.is-outstanding
    font-size: em(22)
    padding: em(30, 22) em(40, 22)

  &.is-deflated-sides
    padding-left: em(14)
    padding-right: em(14)
  
  &.is-deflated-md
    padding: em(12) em(14)
  
  &[disabled],
  a[disabled],
  a.disabled
    opacity: .5
    cursor: not-allowed
    &:hover
      opacity: .5