.docpage-figure
  display flex
  flex-direction column
  justify-content: flex-start
  &__image-container
    flex-grow 0
  figcaption
    flex-grow 1
    display flex
    flex-direction column
    justify-content: space-between
    margin-top: em(20)
    font-style: normal
  &__name
    display block
    margin-bottom: em(7)
    font-size: em(15)
  &__ext
    display block
    font-size: em(14)
    margin-bottom: em(5)
  &__size
    display block
    font-size: em(14)
