.dropdown-flat
  &__menu
    padding: em(10) 0
    margin-top: em(5)
    border: 1px solid #C2C2C2
    border-radius: 0
    li
      padding: 0
      margin: 0
      font-family: $font-family-base
      font-size: em(16)
      a
        display: block
        padding: em(5) em(20)
        &:hover
          background-color: unset
          color: $color-secondary