.player
  margin-bottom: em(50)
  &.is-audio
    display: flex
    justify-content: center
    align-items: center
    height: em(140)
    background: #f2f2f2
    border: 1px solid #c9c9c9
    audio
      width: 100%
      max-width: em(570)
      border-radius: 0
  &.is-video
    video,
    iframe
      width: 100%