.Select
  raw-input()
  padding: rem(7) rem(30) rem(7) rem(14)
  border-radius: 3px
  background-image: url($icon-arrow-triangle-down)
  background-repeat: no-repeat
  background-size: 10px auto
  background-position: 90% center
  font-size: inherit
  &,
  &:focus
    background-color: #E7E7E7

  &__secondary
    padding: rem(4) rem(10)
    width: rem(179)
    height: rem(34)
    font-size: rem(18)
    border: 1px solid #C4C4C4
    border-radius: 2px
    background-color: white
    cursor: pointer
    line-height: rem(20)
    &:focus
      background-color: white
