.subtitle
  font-size: em(20)
  font-family $font-family-base
  font-weight bold

  &.is-lspaced
    letter-spacing 2px

  &.is-secondary
    text-transform uppercase
    font-size: em(14)

  &.is-medium
    font-size: em(24)