.page-header
  padding em(28) 0 em(28)
  background-color $color-terciary-b
  color white
  --color-icon: white

  &__heading
    font-size: em(30)
    margin-bottom: em(2)
    +media-tablet()
      font-size: em(45)

    +.button-revealer
      margin: em(40, 45) auto
      
  .block-search
    margin-top: em(60)

  .search-bar
    margin-bottom: em(40)

  .subtitle
    margin-bottom: em(30)
