<div class="page-header">
  <div class="container">
    <h1 class="page-header__heading text-center">
    {{pageTitle}}
    {{^pageTitle}}
      Hy&#x101;male&#x1E6D;a : (Dinmarkira yuvar&#x101;ja) / Sekspi&#x1EF5;ara ; Manomohana R&#x101;ya an&#x16B;dita.
    {{/pageTitle}}
    </h1>
  </div>
</div>
