<button type="button" class="button-revealer" data-revealer="{{targetId}}" data-label-after-revealed="{{ label-after-reveleaded }}">
  <span data-revealer-label="">{{label}}</span>
  <svg>
    <use xlink:href="#icon-plus-b" class="button-revealer__arrow-down" />
    <use xlink:href="#icon-minus" class="button-revealer__arrow-up" />
  </svg>
</button>
