<div class="accordion" id="accordion-records">
  <div class="card accordion__item">
    <div class="card-header accordion__item-header" id="headingOne">
      <div class="accordion__item-cell is-width-a text-right u-pr-5">
        <a href="#" class="">{{>atoms-svg(id:'icon-video', width:'24', height:'24')}}</a>
      </div>
      <div class="accordion__item-cell is-width-b">
        <h4 class="accordion__item-title">
          <a class="collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
            aria-controls="collapseOne">
            Hamlet's Soliloquies Outtakes
          </a>
        </h4>
      </div>
      <div class="accordion__item-cell is-width-c"><strong>3/27/2018 11:49 am</strong></div>
      <div class="accordion__item-cell is-width-d u-pr-5 d-flex justify-content-end">
        <a href="#" class="">{{>atoms-svg(id:'icon-exclamation-up', class:'u-secondary', width:'15', height:'15')}}</a>
        {{>molecules-dropdown-options(class:'u-ml-1')}}
      </div>

    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
      <div class="card-body u-p-0">
        {{> organisms-card-media--meta-embedded(title: 'Hamleto, reĝido de Danujo : tragedio en kvin aktoj / W. Shakespeare ; tradukis L. Zamenhof.', icon: 'icon-doc', iconWidth: 22, iconHeight: 24) }}

      </div>
    </div>
  </div>
  <div class="card accordion__item">
    <div class="card-header accordion__item-header" id="headingTwo">
      <div class="accordion__item-cell is-width-a text-right u-pr-5">
        <a href="#" class="">{{>atoms-svg(id:'icon-doc', width:'24', height:'24')}}</a>
      </div>
      <div class="accordion__item-cell is-width-b">
        <h4 class="accordion__item-title">
          <a class="collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
            Hamleto, reĝido de Danujo : tragedio en kvin aktoj / W. Shakespeare ; tradukis L. Zamenhof.
        </a>
        </h4>
      </div>
      <div class="accordion__item-cell is-width-c"><strong>3/27/2018 11:49 am</strong></div>
      <div class="accordion__item-cell is-width-d u-pr-5 d-flex justify-content-end">
        <a href="#" class="">{{>atoms-svg(id:'icon-exclamation-up', class:'u-secondary', width:'15', height:'15')}}</a>
        {{>molecules-dropdown-options(class:'u-ml-1')}}
      </div>

    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
      <div class="card-body u-p-0">
        {{> organisms-card-media--meta-embedded(title: 'Hamleto, reĝido de Danujo : tragedio en kvin aktoj / W. Shakespeare ; tradukis L. Zamenhof.', icon: 'icon-doc', iconWidth: 22, iconHeight: 24) }}

      </div>
    </div>
  </div>
  <div class="card accordion__item">
    <div class="card-header accordion__item-header" id="headingThree">
      <div class="accordion__item-cell is-width-a text-right u-pr-5">
        <a href="#" class="">{{>atoms-svg(id:'icon-script', width:'24', height:'24')}}</a>
      </div>
      <div class="accordion__item-cell is-width-b">
        <h4 class="accordion__item-title">
          <a class="collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="false" aria-controls="collapseThree">
            Hamlet's Soliloquies Outtakes
        </a>
        </h4>
      </div>
      <div class="accordion__item-cell is-width-c"><strong>3/27/2018 11:49 am</strong></div>
      <div class="accordion__item-cell is-width-d u-pr-5 d-flex justify-content-end">
        <a href="#" class="">{{>atoms-svg(id:'icon-exclamation-up', class:'u-secondary', width:'15', height:'15')}}</a>
        {{>molecules-dropdown-options(class:'u-ml-1')}}
      </div>

    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
      <div class="card-body u-p-0">
        {{> organisms-card-media--meta-embedded(title: 'Hamleto, reĝido de Danujo : tragedio en kvin aktoj / W. Shakespeare ; tradukis L. Zamenhof.', icon: 'icon-doc', iconWidth: 22, iconHeight: 24) }}

      </div>
    </div>
  </div>
</div>