<article class="card-media">
  <a href="#" class="card-media__image">
    <img src="https://via.placeholder.com/325x280" alt="Placeholder image">
  </a>
  <div class="card-media__content">
    <h4 class="card-media__title"><a href="#">View the Hamlet Gallery</a></h4>
    <div class="card-media__desc">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis consequat neque, et maximus augue. Ut viverra orci sit amet magna venenatis faucibus. Etiam id risus a velit egestas malesuada commodo sit amet mauris.
      </p>
    </div>
    {{> organisms-card-media-actions }}
  </div>
</article>
