<figure class="ContentSlider-item">
  {#> atoms-placeholder(size: '164x164')#}
  <figcaption>
    <summary class="ContentSlider-itemSummary">
      <p>
        The plays of William Shakspeare : in twenty-one volumes :
        with the corrections and illustrations of various commentators,
        to which are added notes / by Samuel Johnson…
      </p>
    </summary>
    <div class="ContentSlider-itemMetadata">
      <div>
        <label>Creator: </label>
        <span>Multiple</span>
      </div>
      <div>
        <label>Date: </label>
        <span>1803</span>
      </div>
      <div>
        <label>Type: </label>
        <span>N/A</span>
      </div>
      <div>
        <label>Location: </label>
        <span>Great Britain--England--London</span>
      </div>
    </div>
  </figcaption>
</figure>
