<div class="block-pagebody">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <article class="article-introduction">
          <h4 class="article-introduction__heading">What can I find on miranda?</h4>
          <p>
            The Miranda prototype contains about 1,800 records, which contain bibliographic information about physical and digital objects at the Folger. Each of these records has its own page, and some of them contain digital media you can view, read, hear, watch, or download. If you don’t see any digital media attached to a particular record, it is not yet available on Miranda. We will continue to add records and digital media to the platform as we prepare for Miranda's beta launch in 2018.
          </p>
          <p>
            If you have any feedback for us, send an email to <a href="mailto:dap@folger.edu"><strong>dap@folger.edu</strong></a>. We'll take your views into consideration as we work on future versions of Miranda.
          </p>
        </article>
      </div>
      <div class="col-md-7">
        <article class="article-features">
          <h4 class="article-features__heading">
            Explore what’s on Miranda:
          </h4>
          <div class="article-features__grid">
            <div class="card-thumbnail">
              <img class="card-thumbnail__image" src="https://iiif.miranda.parsonstko.com/iiif/2/edwin-booth-hair-tile.jpg/full/full/0/default.jpg" alt="placeholder-home-1">
              <div class="card-thumbnail__content">
                <a href="https://miranda.folger.edu/detail/bracelet-of-edwin-booth's-hair-realia/56c2a4f4-aed6-473c-8e1d-46c896517e44">
                  <svg class="card-thumbnail__icon">
                    <use xlink:href="#icon-search-2" />
                  </svg>
                  <span class="card-thumbnail__title">See a bracelet of Edwin Booth's hair</span>
                </a>
              </div>
            </div>
            <div class="card-thumbnail">
              <img class="card-thumbnail__image" src="https://iiif.miranda.parsonstko.com/iiif/2/bengali-hamlet-tile.jpg/full/full/0/default.jpg" alt="placeholder-home-2">
              <div class="card-thumbnail__content">
                <a href="https://miranda.folger.edu/detail/sus%CC%81i%CC%84la%CC%84-bi%CC%84rsim%CC%A3ha--na%CC%84t%CC%A3ak--sekspiyar-kr%CC%A5ta-na%CC%84t%CC%A3ak-bis%CC%81esh-abalamvana-kariya%CC%84-biracita/78a304ae-46ff-47d2-a1da-1ad6f8ee11f2">
                  <svg class="card-thumbnail__icon">
                    <use xlink:href="#icon-book" />
                  </svg>
                  <span class="card-thumbnail__title">Read Hamlet in Bengali</span>
                </a>
              </div>
            </div>
            <div class="card-thumbnail">
              <img class="card-thumbnail__image" src="https://iiif.miranda.folger.edu/iiif/2/ale-recipe-tile.jpg/full/full/0/default.jpg" alt="placeholder-home-3">
              <div class="card-thumbnail__content">
                <a href="https://miranda.parsonstko.com/1/2/f784e237-429e-4f36-a953-2edef753f5c6">
                  <svg class="card-thumbnail__icon">
                    <use xlink:href="#icon-book" />
                  </svg>
                  <span class="card-thumbnail__title">Make ale from old recipes</span>
                </a>
              </div>
            </div>
            <div class="card-thumbnail">
              <img class="card-thumbnail__image" src="https://iiif.miranda.parsonstko.com/iiif/2/ellen-terry-tile.jpg/full/full/0/default.jpg" alt="placeholder-home-4">
              <div class="card-thumbnail__content">
                <a href="https://miranda.parsonstko.com/featured/record/e45b4892-2f99-4822-9642-f3db2c793611">
                  <svg class="card-thumbnail__icon">
                    <use xlink:href="#icon-multimedia" />
                  </svg>
                  <span class="card-thumbnail__title">See Ellen Terry as Juliet</span>
                </a>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
