<li class="myshelf-tag">
  <div class="myshelf-tag__cell is-width-a text-right u-pr-5">
    <a href="#" class="">{{>atoms-svg(id:'icon-folder', width:'24', height:'20')}}</a>
  </div>
  <div class="myshelf-tag__cell is-width-b">
    <a href="#" class="myshelf-tag__title">{{{title}}}</a>
  </div>
  <div class="myshelf-tag__cell is-width-c">
    <span><strong>3/27/2018 11:49 am</strong></span>
  </div>
  <div class="myshelf-tag__cell is-width-d text-right u-pr-5">
    {{>molecules-dropdown-options}}
  </div>
</li>