<div class="search-bar">
  <div class="search-bar__inner">
    <select class="form-select search-bar__format">
      <option>All formats</option>
    </select>
    <input type="text" class="search-bar__input" placeholder="Enter your search">
    <button type="submit" class="search-bar__submit">
      <svg>
        <use xlink:href="#icon-search" />
      </svg>
    </button>
  </div>
  <div class="text-right">
    <a href="#" class="search-bar__small"><em>View Seacrh Tips</em></a>
  </div>
</div>
