.TopBar
  border-color = #E2E2E2
  clearfix()
  background-color: $color-neutral-a

  &-block
    relative()
    float: left
    min-width: rem(165)
    display: inline-block
    padding: rem(10) rem(20)
    border-left: 1px solid border-color

    &__search
      make-md-column(2.755)
      padding-right: 15px
      padding-left: 0
      border: 0
