<div class="dropdown dropdown-flat">
  <a href="#" class="d-flex justify-content-end align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton" {{data}}> 
    {{>atoms-svg(id:'icon-list', width:'30', height:'16')}}
    {{>atoms-svg(id:'icon-arrow-down-b', width:'8', height:'13')}}
  </a>
  <ul class="dropdown-menu dropdown-flat__menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="#" data-expanded-accordion="#accordion-records">Expanded all items</a></li>
    <li><a class="dropdown-item" href="#" data-collapse-accordion="#accordion-records">Collapse all items</a></li>
  </ul>
</div>