<div class="dropdown-options btn-group {{class}}">
  <a href="#" class="dropdown-options__toggle" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    {{>atoms-svg(id:'icon-menu', width:'18', height:'18')}}
  </a>
  <ul class="dropdown-menu dropdown-options__menu is-right">
    <li><a href="#">Share</a></li>
    <li><a href="#">Download</a></li>
    <li class="dropdown-options is-submenu">
      <a href="#">
          Add to Folder
          {{>atoms-svg(id:'icon-arrow-right', width:'10', height:'8')}}
      </a>
      <ul class="dropdown-menu dropdown-options__menu is-submenu-right">
        <li><a href="#" data-toggle='modal' data-target='#newFolder'>Add New Folder</a></li>
        <div class="dropdown-divider"></div>
        <li><a href="#">Costume Ideas</a></li>
        <li><a href="#">Murder Mystery</a></li>
        <li><a href="#">Translation</a></li>
      </ul>
    </li>
    <li><a href="#">View Details</a></li>
    <li><a href="#">Remove</a></li>
  </ul>
</div>