@import "variables"

@font-face
  font-family 'fonticons'
  src url(icomoon-font-path + '/fonticons.eot?7pb6a9')
  src url(icomoon-font-path + '/fonticons.eot?7pb6a9#iefix') format('embedded-opentype'), url(icomoon-font-path + '/fonticons.ttf?7pb6a9') format('truetype'), url(icomoon-font-path + '/fonticons.woff?7pb6a9') format('woff'), url(icomoon-font-path + '/fonticons.svg?7pb6a9#fonticons') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"], .icon
  font-family 'fonticons' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-book-closed
  &:before
    content icon-book-closed
.icon-check-circle
  &:before
    content icon-check-circle
.icon-music
  &:before
    content icon-music
.icon-pics
  &:before
    content icon-pics
.icon-printed
  &:before
    content icon-printed
.icon-scene
  &:before
    content icon-scene
.icon-video-play
  &:before
    content icon-video-play
.icon-arrow-left
  &:before
    content icon-arrow-left
.icon-arrow-right
  &:before
    content icon-arrow-right
.icon-search
  &:before
    content icon-search
.icon-star-outline
  &:before
    content icon-star-outline
.icon-book
  &:before
    content icon-book
.icon-download
  &:before
    content icon-download
.icon-star
  &:before
    content icon-star
.icon-warning
  &:before
    content icon-warning
.icon-close
  &:before
    content icon-close
