icomoon-font-path ?= "../components/fonticons/fonts"

icon-book-closed = "\e907"
icon-check-circle = "\e90a"
icon-music = "\e90b"
icon-pics = "\e90c"
icon-printed = "\e90d"
icon-scene = "\e90e"
icon-video-play = "\e90f"
icon-arrow-left = "\e908"
icon-arrow-right = "\e909"
icon-search = "\e906"
icon-star-outline = "\e902"
icon-book = "\e900"
icon-download = "\e901"
icon-star = "\e903"
icon-warning = "\e904"
icon-close = "\e905"
