.PopupCollection
  &-dialog
    width: rem(479)
    height: rem(372)
    border: 0
    border-radius: 2px
    padding: 0
    outline: 0

  h1,h2,h3,h4,h5,h6,p
    margin: 0

  &-header
    padding: rem(30) rem(20) 0
    height: rem(78)
    background-color: $color-primary
    display: inline-block
    width: 100%
    text-align: center

    i
      display: inline-block
      position: absolute
      left: rem(112)
      font-size: rem(20)
      color: white

    h4
      display: inline
      font-weight: 400
      color: white
      font-size: rem(20)
      vertical-align: middle

  &-body
    background-color: white
    width: 100%
    padding: rem(12) rem(12) 0
    margin-bottom: rem(25)

  &-textBlock
    padding: rem(25) rem(10) 0
    font-size: rem(24)
    line-height: rem(30)
    color: #595959
    margin-bottom: rem(12)

  &-footer
    padding: rem(12)
    border-top: 0
    border-radius: 2px

    button
      font-size: rem(22)
      height: rem(53)

  &-footerBtnLeft
    float: left
    width: rem(176) !important

  &-footerBtnRight
    float: right
    width: rem(256) !important

  &-notification
    position: fixed
    top: rem(-20)
    right: rem(100)
    width: rem(100)
    height: rem(100)
    padding: rem(40)
    text-align: center
    font-weight: bold
    border-radius: 100px
    background-color: #595959

.btn-modal
  width: 50%