<div class="u-iflex">
  <input class="form-checkbox {{ styleModifier }}" type="checkbox" id="{{ id }}" name="{{name}}" value="{{value}}" data-search_url="{{search_url}}">
  <label for="{{id}}">{{label}}{{#q}} <span class="u-subtle">({{q}})</span>{{/q}}</label>
</div>
