.SearchFilters
  display: block
  padding: rem(20) rem(20) rem(20) rem(23)
  border-right: 1px solid $color-border
  border-bottom: 1px solid $color-border
  border-left: 1px solid $color-border

  &-title
    display: block
    margin: 0 rem(-20) rem(15) rem(-23)
    padding: 0 rem(20) rem(15) rem(23)
    border-bottom: 1px solid $color-border
    font-size: rem(18)

  &-group
    display: block
    margin-bottom: rem(37)
    font-size: 12px
    &:last-child
      margin-bottom: rem(17)
    a
      text-decoration: underline
      color: inherit

  &-label
    margin-bottom: rem(8)

  &-option
    display: table
    width: 100%
    margin-bottom: rem(5)
    a
      text-decoration: none
      display: block

  &-optionName
    display: table-cell
    width: auto

  &-optionCount
    display: table-cell
    width: 32px
    text-align: center
    vertical-align: middle
    background-color: #E7E7E7
    border-radius: 2px
