<group class="Metadata">
  <div class="Metadata-label">
    {{label}}
  </div>
  <div class="Metadata-value">
    <select class="Metadata-select">
      <option value="">{{value}}</option>
      <option value="text">Text</option>
			<option value="Notated music">Notated Music</option>
			<option value="Sound">Sound</option>
			<option value="Image">Image</option>
			<option value="3D Object">3D Object</option>
			<option value="Data[set]">Data[set]</option>
			<option value="Interactive Resource">Interactive Resource</option>
			<option value="Video">Video</option>
    </select>
  </div>
</group>
