<div class="card-media__actions" data-myshelf-add-remove="9484a41b-f0fa-4bcc-916b-7a7858e8f900">
  <a href="#" class="card-media__action">
    Details <svg width="13" height="13"><use xlink:href="#icon-search"/></svg>
  </a>
  <a href="../../ajax/myshelf/add/9484a41b-f0fa-4bcc-916b-7a7858e8f900.json" class="card-media__action add_shelf_result d-none record-add-myshelf" >Add to shelf <svg width="13" height="14"><use xlink:href="#icon-shelf"/></svg></a>
  <a href="../../ajax/myshelf/remove/9484a41b-f0fa-4bcc-916b-7a7858e8f900.json" class="card-media__action add_shelf_result d-none record-remove-myshelf">Remove from shelf <svg width="13" height="14"><use xlink:href="#icon-shelf"/></svg></a>
</div>
