<div class="page-actions">
  <div data-myshelf-add-remove="9484a41b-f0fa-4bcc-916b-7a7858e8f900">
    <a href="../../ajax/myshelf/add/9484a41b-f0fa-4bcc-916b-7a7858e8f900.json" class="button is-lspaced is-bare add_shelf d-none record-add-myshelf">
      {{> atoms-svg(id: 'icon-add-to-shelf', width: '26', height: '24') }}
      ADD TO SHELF
    </a>
    <a href="../../ajax/myshelf/remove/9484a41b-f0fa-4bcc-916b-7a7858e8f900.json" class="button is-lspaced is-bare add_shelf d-none record-remove-myshelf">
      {{> atoms-svg(id: 'icon-add-to-shelf', width: '26', height: '24') }}
      REMOVE FROM SHELF
    </a>    
  </div>
  <div>
    <a href="#" class="button is-lspaced is-bare">
      {{> atoms-svg(id: 'icon-download', width: '24', height: '24') }}
      DOWNLOAD
    </a>
  </div>
  <div>
    <a href="#" class="button is-lspaced is-bare">
      {{> atoms-svg(id: 'icon-iiif', width: '30', height: '30') }}
      IIIF MANIFEST
    </a>
  </div>
</div>
