<nav aria-label="Pagination">
  <ul class="pagination-single">
    <li class="pagination-single__prev is-disabled">
      <a aria-label="Previous page">
        <svg><use xlink:href="#icon-arrow-left" /></svg>
      </a>
    </li>
    <li class="is-current">1</li>
    <li><a href="#" aria-label="Page 2">2</a></li>
    <li><a href="#" aria-label="Page 3">3</a></li>
    <li><a href="#" aria-label="Page 4">4</a></li>
    <li class="pagination-single__ellipsis" aria-hidden="true">···</li>
    <li><a href="#" aria-label="Page 12">12567</a></li>
    <li><a href="#" aria-label="Page 13">12568</a></li>
    <li class="pagination-single__next">
      <a href="#" aria-label="Next page">
        <svg><use xlink:href="#icon-arrow-right" /></svg>
      </a>
    </li>
  </ul>
</nav>
