<div class="u-mt-2 button is-bare" data-revealer="{{target}}">
  <svg width="12" height="12">
    <use class="on-default" xlink:href="#icon-plus"/>
    <use class="on-active" xlink:href="#icon-minus"/>
  </svg>
  <span>SEE</span>&nbsp;
  <span class="on-default">ALL</span>
  <span class="on-active">FIRST {{totalVisible}}</span>
</div>
