$color-primary      = #000000
$color-secondary    = #BE3532
$color-terciary-a   = #40414C
$color-terciary-b   = #272537
$color-terciary-c   = #161621
$color-base         = #000000

$color-neutral-a    = #F6F6F6
$color-neutral-b    = #F2F2F2
$color-neutral-c    = #EFEFEF

$color-placeholder  = #CBCBCB
$color-border       = #979797
$color-border-secondary     = #D8D8D8
$color-warning      = #F6A623
$color-success      = #30BA62

$color-success-button   = #000000

:root
  --color-icon: #595959
