$device-xxlarge-width  = 1440
$device-xlarge-width   = 1240
$device-large-width    = 1024
$device-medium-width   = 768
$device-small-width    = 480
$device-xsmall-width   = 320

$size-screen-mobile-s   = 320
$size-screen-mobile-m   = 375
$size-screen-mobile-l   = 414
$size-screen-tablet     = 768
$size-screen-laptop     = 1024
$size-screen-laptop-l   = 1440
$size-screen-4k         = 2560
