<figure class="dobject-figure">
  <div class="text-center dobject-figure__container">
    <a href="#">
      <svg width="60" height="60">
        <use xlink:href="#icon-{{ext}}"/>
      </svg>
    </a>
  </div>
  <figcaption>
    <a class="dobject-figure__name" href="#"><strong>{{name}}</strong></a>
    <div class="dobject-figure__metadata">
      <span class="dobject-figure__ext">{{ext}}</span>
      <span class="dobject-figure__size">1,139kb</span>
    </div>
  </figcaption>
</figure>
