<figure class="docpage-figure">
  <div class="text-center docpage-figure__container">
    <a href="#"><img src="http://via.placeholder.com/160x121{{#alt}}/555555/ffffff{{/alt}}" alt="Record image"></a>
  </div>
  <figcaption>
    <a class="docpage-figure__name" href="#"><strong>{{name}}</strong></a>
    <div class="docpage-figure__metadata">
      <span class="docpage-figure__ext">{{ext}}</span>
      <span class="docpage-figure__size">{{size}}</span>
    </div>
  </figcaption>
</figure>
