<div class="uv u-mb-8"
     data-locale="en-GB:English (GB)"
     data-fullscreen=""
     data-config="../../components/uv/config.json"
     data-uri="http://iiif.bodleian.ox.ac.uk/iiif/manifest/60834383-7146-41ab-bfe1-48ee97bc04be.json"
     data-sequenceindex="0"
     data-canvasindex="0"
     data-rotation="0"
     style="width:100%; height:800px;">
</div>
<script type="text/javascript" id="embedUV" src="../../components/uv/lib/embed.js"></script>
