.modal-flat
  &__content
    padding: 0 em(10)
    border-radius: 0

  &__header
    border-bottom: 0

  &__body
    font-size: em(18)
    font-weight: 600
    color: $color-terciary-a 

  &__footer
    border-top: 0
    padding-top: 0
    padding-bottom: em(40)