.services-section
  padding: rem(90) 0

  p
    font-size: rem(18)
    line-height: 1.5

  &--heading-1,
  &--heading-2
    margin-bottom: rem(30)
    font-family: $font-family-display
    
  &--heading-1
    font-size: rem(30)

  &--heading-2
    font-size: rem(28)
