.subscribe-section
	background-color: $color-terciary-b
	color: white

	&__inner
		padding: rem(30) 0

	&__desc
		text-align: center
		margin-bottom: rem(20)
		+media-tablet()
			display flex
			align-items center
			margin-bottom: 0
			text-align: left
		p
			margin-bottom: rem(10)
			font-size: rem(21)

	&__form
		text-align center
		font-size: rem(18)
		+media-tablet()
			display flex
			max-height: 60px
			text-align: left
	
		.form-field
			margin-bottom: rem(15)
			&:focus
				+media-tablet()
					width: 138%
			+media-tablet()
				margin-bottom: 0
				margin-right: rem(20)
			&:last-child
				margin-right: 0
		
		.button
			width: 100%
			+media-tablet()
				max-width 240px
				width: auto
				max-width: auto
