.u-fontSize-large
  font-size: rem(35)

.u-fontSize-medium
  font-size: rem(20)

.u-fontSize-xmedium
  font-size: rem(18)

.u-xs-marginBottom
  margin-bottom: rem(10)

.u-sm-marginBottom
  margin-bottom: rem(28)

.u-marginBottom-large

.u-sm-marginBottom
  margin-bottom: rem(28)

.u-lg-marginBottom
  margin-bottom: rem(40)

.u-vCenter
  -ms-display: flex
  display: flex
  align-items: center

.u-vCenterRight
  -ms-display: flex
  display: flex
  align-items: center
  justify-content: flex-end

.u-centerAll
  display: flex
  align-items: center
  justify-content: center
  

.u-divisorRight
  border-right: 1px solid $color-border

.u-text-right
  text-align: right

.u-fontSize-medium
  font-size: rem(20)

.u-marginTop-small
  margin-top: rem(20)
.u-marginTop-medium
  margin-top: rem(30)
.u-marginTop-large
  margin-top: rem(70)

.u-marginLeft-small
  margin-left: rem(20)
.u-marginLeft-medium
  margin-left: rem(30)
.u-marginLeft-large
  margin-left: rem(70)

.u-marginRight-small
  margin-right: rem(20)
.u-marginRight-medium
  margin-right: rem(30)
.u-marginRight-large
  margin-right: rem(70)

.u-marginBottom-small
  margin-bottom: rem(20)
.u-marginBottom-medium
  margin-bottom: rem(30)
.u-marginBottom-large
  margin-bottom: rem(70)

.u-paddingLeft-small
  padding-left: rem(20)
.u-paddingLeft-medium
  padding-left: rem(30)
.u-paddingLeft-large
  padding-left: rem(70)

.u-paddingRight-small
  padding-right: rem(20)
.u-paddingRight-medium
  padding-right: rem(30)
.u-paddingRight-large
  padding-right: rem(70)

.u-iflex
  display inline-flex

.u-subtle
  opacity .38

.u-columns
  column-gap: em(30)

.u-columns-3
  @extends .u-columns
  +media-mobile-l('larger')
    column-count: 2
  +media-tablet()
    column-count: 3

.u-fw-normal
  font-weight: normal

.u-fw-medium
  font-weight: 500

.u-ffamily-base
  font-family: $font-family-base

.u-divisorBottom
  margin-bottom: 2px solid $color-border

.u-text-light
  color: white
.u-dark
  color: black
  --color-icon: black

.u-secondary
  color: $color-secondary
  --color-icon: $color-secondary

.u-pre-wrap
    white-space: pre-wrap